{
  "cli": {
    "version": ">= 16.0.0",
    "appVersionSource": "remote"
  },
  "build": {
    "preview": {
      "environment": "production",
      "env": {
        "APP_ENV": "production"
      },
      "distribution": "internal",
      "android": {
        "buildType": "apk"
      }
    },
    "production": {
      "autoIncrement": true,
      "environment": "production",
      "env": {
        "APP_ENV": "production"
      }
    }
  }
}
